<div class="container-fluid foot">
	<div class="container">
		<footer class="d-flex flex-wrap justify-content-between align-items-center pb-10">
			<p class="col-md-4 mb-0 text-muted">&copy; 2022 Instor Projetos e Robótica</p>

			<a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
				<%# <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg> %>
				<%= image_tag "logo.png", class: "bi me-2" %>
			</a>

			<ul class="nav col-md-4 justify-content-end">
				<li class="nav-item"><a href="#" class="nav-link px-2 text-muted">HOME</a></li>
				<li class="nav-item"><a href="#" class="nav-link px-2 text-muted">QUEM SOMOS</a></li>
				<li class="nav-item"><a href="#" class="nav-link px-2 text-muted">SOLUÇÕES</a></li>
				<li class="nav-item"><a href="#" class="nav-link px-2 text-muted">BLOG</a></li>
				<li class="nav-item"><a href="#" class="nav-link px-2 text-muted">CONTATO</a></li>
			</ul>
		</footer>
	</div>
</div>