  <footer class="footer foot mt-auto pt-3">
    <div class="container-fluid">
      <div class="row pt-4">
        <div class="col-sm-2">
					<%= image_tag 'logo.png', class: "img-fluid mx-auto d-block" %>
        </div>

        <div class="col-sm-2">
          <h4 class="t-footer">Quem Somos</h4>
          <p class="text-justify t-footer">
            Buscamos a satisfação do cliente, desenvolvendo e aplicando tecnologia robótica e de automação, e gerando
            resultado através dos requisitos da melhoria contínua.
          </p>
        </div>

        <div class="col-sm-2">
          <h4 class="t-footer">
            Matriz
          </h4>
          <p class="t-footer">Endereço: Av. Sen. Salgado Filho, 7000 sala 276 Jardim Krahe Viamão – RS – Brasil CEP 94440-000</p>
        </div>

        <div class="col-sm-2">
          <h4 class="t-footer">Filial</h4>
          <p class="t-footer">Endereço: Rua Vicente Apa Engenho do Porto – Duque de Caxias – RJ – Brasil CEP 25011-040</p>
        </div>

        <div class="col-sm-2">
          <h4 class="t-footer">Contato</h4>
          <ul class="list-group f-ul t-footer ">
            <li class="f-li">contato@instor.com.br</li>
            <li class="f-li">gerencia@instor.com.br</li>
          </ul>

          <h4 class="t-footer">Vendas</h4>
          <ul class="list-group f-ul t-footer">
            <li class="f-li">comercial@instor.com.br</li>
            <li class="f-li">+55 (11) 96955-9308</li>
          </ul>

          <ul class="list-group f-ul t-footer">
            <li class="f-li">Skype: miguel.instor</li>
            <li class="f-li">+55 (51) 99239-7269</li>
          </ul>
        </div>

        <div class="col-sm-2">
          <h4 class="t-footer">Compras</h4>
          <ul class="list-group f-ul t-footer">
            <li class="f-li">compras@instor.com.br</li>
            <li class="f-li">+55 (51) 99477-1412</li>
          </ul>

          <h4 class="t-footer">Financeiro</h4>
          <ul class="list-group f-ul t-footer">
            <li class="f-li">financeiro@instor.com.br</li>
            <li class="f-li">+55 (51) 99872-1613</li>
          </ul>
        </div>
      </div>

      <div class="row">
        <p class="text-center pt-1">
          Copyright © 2022 - Instor Projetos e Robótica | Desenvolvido pela Redacon
        </p>
      </div>

    </div>
  </footer>