<footer class="footer mt-auto pt-3">
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-6 mx-auto">
        <%= image_tag 'instor-logo.png', class: "img-fluid mx-auto d-block p-5" %>
        <p class="quem-somos text-center mx-auto text-white">
          Buscamos a satisfação do cliente, desenvolvendo e aplicando tecnologia robótica e de automação, e gerando
          resultado através dos requisitos da melhoria contínua.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 mx-auto">
        <ul class="list-group social list-group-horizontal justify-content-center m-4">
          <li>
            <%= image_tag "linkedin.png", width: 40 %>
          </li>
          <li>
            <%= image_tag "email.png", width: 40 %>
          </li>
          <li>
            <%= image_tag "skype.png", width: 40 %>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 mx-auto">
        <p class="credit text-center text-light">
          Copyright © 2022 - <span>Instor Projetos e Robótica</span> | Desenvolvido pela 
          <a href="https://redacon.com.br" target="_blank"></span>Redacon</span></a> 
        </p>
       </div> 
    </div>

    </div>
  </div>
</footer>