  <footer class="footer foot mt-auto pt-3">
    <div class="container-fluid">
      <div class="row pt-4">
        <div class="col-sm-6 mx-auto">
					<%= image_tag 'instor-logo.png', class: "img-fluid mx-auto d-block p-5" %>

          <p class="quem-somos text-center mx-auto text-white">
            Buscamos a satisfação do cliente, desenvolvendo e aplicando tecnologia robótica e de automação, e gerando
            resultado através dos requisitos da melhoria contínua.
          </p>
        </div>

      <div class="row text-center text-white">
        <p class="pt-1 m-4 pb-4 credit">
          Copyright © 2022 - <span>Instor Projetos e Robótica</span> | Desenvolvido pela 
          <a href="https://redacon.com.br" target="_blank"></span>Redacon</span></a> 
        </p>
      </div>

    </div>
  </footer>