<nav class="navbar navbar-light">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag("logo.png") %>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to "Dashboard", dashboard_home_index_path, class: "btn btn-success btn-sm" %>
    <% end %>
  </div>
</nav>