/*
 *= require bootstrap/dist/css/bootstrap
 *= require custom
 */

 @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css");
 @import "toastify-js/src/toastify.css";

 .show-description > p {
  font-size: 1.4rem;
  margin-bottom: 25px;
 }

 .show-description > h4 {
  font-weight: bold;
 }

 legend {
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 5px;
  border: none;
  margin-bottom: 5px;
 }

input[type="radio"] {
  margin: 0 10px 0 0;
}