.top-nav {
  background-color: #fff;
}

.bg-hero {
  background: rgb(21,115,71);
  background: linear-gradient(0deg, rgba(21,115,71,1) 21%, rgba(131,186,48,1) 100%);
}

.card {
  border: none;
  border-radius: 10px;
  background-color: #eee;
}

.search {
  background-color: #eee;
}

.srch {
  padding: 5rem 0;
}

.foot {
  background-color: #151515;
}

footer {
  margin-top: 5rem;
  padding: 3rem 0;

}

.height {
  height: 20vh;
}


.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1);
}

.search input {
  height: 60px;
  border: 2px solid #d6d4d4;
}


.search input:focus {
  box-shadow: none;
  border: 2px solid #83BA30;
}

.search .fa-search {
  position: absolute;
  top: 20px;
  left: 16px;
}

.search .bt-submit {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 110px;
  background: #83BA30;
}

.btn-hero {
  background: transparent;
  border: 2px solid #fff;
  border-radius: 25px;
}

.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: .75rem;
}

.icon-link > .bi {
  margin-top: .125rem;
  margin-left: .125rem;
  fill: currentcolor;
  transition: transform .25s ease-in-out;
}
.icon-link:hover > .bi {
  transform: translate(.25rem);
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: .75rem;
}

.text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
.text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
.text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.feature-icon-small {
  width: 3rem;
  height: 3rem;
}

/* Style card job */
.date-pub {
  font-size: 0.8rem;
}

.job-code {
  font-size: 1rem;
}

.job-date {
  font-size: 0.7rem;
}

.job-bg {
  background: #83BA30;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination > a,
.current,
.next_page,
.previous_page {
  padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
  font-size: var(--bs-pagination-font-size);
  color: #83BA30;
  text-decoration: none;
  background-color: var(--bs-pagination-bg);
  border: var(--bs-pagination-border-width) solid var(--bs-pagination-border-color);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}