.top-nav {
  background-color: #fff;
}

.bg-hero {
  // background-image: url('career.jpg');
  // background-repeat: no-repeat;
  // background-position: top;
  // background-size: cover;
  background: rgb(21,115,71);
  background: linear-gradient(0deg, rgba(21,115,71,1) 21%, rgba(131,186,48,1) 100%);
}

.card {
  border: none;
  border-radius: 10px;
  background-color: #eee;
}

.c-details span {
  font-weight: 300;
  font-size: 13px
}

.badge span {
  background-color: #83BA30;
  width: 80px;
  height: 25px;
  padding-bottom: 1px;
  border-radius: 5px;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center
}

.progress {
  height: 10px;
  border-radius: 10px
}

.progress div {
  background-color: red
}

.text1 {
  font-size: 14px;
  font-weight: 600
}

.text2 {
  color: #a5aec0
}

.search {
  background-color: #eee;
}

.srch {
  padding: 5rem 0;
}

.foot {
  background-color: #151515;
}

footer {
  margin-top: 5rem;
  padding: 3rem 0;

}

.height {
  height: 20vh;
}


.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1);
}

.search input {
  height: 60px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
}


.search input:focus {
  box-shadow: none;
  border: 2px solid blue;
}

.search .fa-search {
  position: absolute;
  top: 20px;
  left: 16px;
}

.search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 110px;
  background: blue;
}

.btn-hero {
  background: blue;
}

// .bgimage {
//   width:100%;
//   height:500px;
//   background: url('https://images.unsplash.com/photo-1438109491414-7198515b166b?q=80&fm=jpg&s=cbdabf7a79c087a0b060670a6d79726c');
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size:cover;
//   background-attachment: fixed;
// }
// .bgimage h5 {
//   color:white;
//   text-shadow:2px 2px #333;
// }